.basketCheckOut{
    width: 100%;
    height: 100%;
    background-color: #f8fafc;
    padding: 12px 18px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .cartData{
        display: flex;
        margin-bottom: 50px;

        .cartDataImg{
            width: 70px;
            height: 70px;

            img{
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }

        .cartDataDescription{
            margin-left: 10px;
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                        line-clamp: 2; 
                -webkit-box-orient: vertical;
                max-width: 230px;
                color: #939EB1;
                padding: 5px;
            }

            h5{
                color: #818DA0;
                font-size: 19px;
                padding: 5px;
            }

            span{
                color: #CCD3DE;
                font-size: 16px;
                font-weight: 500;
                padding-top: 15px;
                padding-left: 15px;
            }
        }
    }

    .title{
        margin-bottom: 40px;
        font-size: 32px; 
        letter-spacing: 1px;
        color: #2E3C53;
    }

    .close{
        font-size: 20px;
        background-color: #EDF4FF;
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 4px;
        color: #B2C2DC;
        cursor: pointer;
    }

    .basketTotal{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        -webkit-box-shadow: 0px -3px 17px -3px rgba(0,0,0,0.59); 
        box-shadow: 0px -3px 17px -3px rgba(0,0,0,0.59);
        width: 100%;
        padding: 12px 18px;

        .basketTotalTitle{
            font-size: 18px;
            color: #C5CAD4;
        }

        .basketTotalPrice{
            color: #2D3B52;
            
            @media screen and (max-width:768px) {
                font-size: 21px;
            }
        }

        .basketTotalCheckOut{
            width: 180px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 21px;
            border-radius: 25px;
            background-color: #F14A90;
            color: #fff;

            @media screen and (max-width:768px) {
                width: 150px;
                height: 40px;
                font-size: 19px;
            }
        }
    }
}