.checkout{

    .cart{
        width: 100%;
    }

    .inputs{
        width: 100%;
        margin-top:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            button{
                width: 300px;
                height: 35px;
                border: none;
                outline: none;
                border-radius: 25px;
                background-color: #1BCB66;
                color: #fff;
                font-size: 19px;
                cursor: pointer;
                transition: 0.3s all;

                &:hover{
                    background-color: #08572a;
                    box-shadow: 1px 1px 3px black;
                }
            }
        }

        div{
            width: 420px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            background-color: #fff;
            border-radius: 5px;
            padding: 8px 12px;
            transition: 0.3s all;

            &:hover{
                transition: 0.3s all;
                box-shadow: 1px 1px 4px black;
            }
            
            @media screen and (max-width:768px) {
                width: 310px;
                padding: 6px 10px;
            }
        }
        
        input{
            width: 380px;
            height: 30px;
            padding: 6px 8px;
            border: none;
            outline: none;
            border-radius: 5px;
            font-size: 22px;
            background-color: transparent;
            margin-left: 5px;

            @media screen and (max-width:768px) {
                width: 300px;
                padding: 4px 6px;
                font-size: 19px;
            }
        }
    }
}